
@media not screen and (max-width: 600px) {
  .Container {

    width: 100vw;
    height: 100vh;
  
    display: flex;
    flex-direction: column;
  
  }
  
.SubContainer {
  padding: 0rem;

  margin: 0rem;
  margin-top: 0.5%;
  width: 100%;
  
  height: 50vh;
  min-height: 300px;
  background-color: #fff;
  display: flex;
  flex-direction: column;

}
  .rowContainer {

  

    padding: 0rem;
   
    width: 100vw;
    height: 50vh;
    background-color: none;
    min-height: 300px;
    display: flex;
    flex-direction: row;
  }
  .rowItem:first-child {
    margin-right: 0.5%;
  }
}

@media only screen and (max-width: 600px) {
  .Container {

    width: 100vw;
    height: 150vh;
  
    display: flex;
    flex-direction: column;
  
  }
  .rowContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
   
  }
  
.SubContainer {
  padding: 0rem;

  margin: 0rem;
  margin-top: 0.5%;
  width: 100%;
  
  height: 50vh;

  background-color: #fff;
  display: flex;
  flex-direction: column;
  

}
.rowItem:nth-child(2){
  margin-top: 0.5%;
}

 
}

.rowItem {
  width: 100%;
  height: 100%;
  margin: 0rem;

  padding: 0rem;
  background-color: #fff;
  opacity: 1;

}

