.Container {
  background-color: #ddd;
  width: 100vw;
  height: 100vh;
  /* border-style: solid; */
  display: flex;
  flex-direction: column;
  /* padding-bottom: 0.5%; */
  /* min-height: min-content; */
  /* min-height: 10vh; */
  /* min-width:  50vw; */
  /* min-width: 800px; */
}

.SubContainer {
  padding: 0rem;
  /* margin: auto; */
  margin-top: 0.5%;
  /* margin-bottom: 0.5%; */

  width: 100vw;
  height: 99vh;
  /* i think it looks best when proportiona to # of vertical containers */
  /* For some reason 100vh makes scroll bar appear sooner then 50vh. 50vh can get much smaller before scroll bar 
    actuall im starting to think it doenst matter, but min-height does*/
  background-color: #fff;
  /* border-style: solid; */
  /* min-width: 50vw; */
  min-height: 50vh;
  /* display: flex;
    flex-direction: row; */
  /*here min-height is using rem, px works as well.*/
}


@media not screen and (max-width: 600px){
  .rowContainer {
    /* margin: auto; */
    /* margin-top: 0.5%;
      margin-bottom: 0.5%; */
    padding: 0rem;
    width: 100vw;
    height: 99vh;
    background-color: none;
    /* background-color: #fff; */
    /* border-style: solid; */
    min-width: 50vw;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
  }
  .rowItem:first-child{
    margin-right: 0.5%;
}
}


@media only screen and (max-width: 600px) {
    .rowContainer {
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: 99vh;
      min-width: 50vw;
      min-height: 5rem;
    }
  
    /* .rowContainer div:first-child{
        margin-bottom: 0.5% !important;
    } */
   
  }

.rowItem {
  width: 100%;
  height: 100%;
  margin: 0rem;
  
  padding: 0rem;
  background-color: #fff;
  
  /* border-style: solid; */
}
/* .rowItem:first-child{
    margin-right: 0.5%;
} */


/* .rowContainer div:first-child{
    margin-right: 0.5%;
} */

/*  
  margin-right: 0.5%;
} */

/* .rowContainer div:first-child {
  margin-right:0.5%;
} */
