.PieChart{
    width: 100%;
    height: 100%;
    padding: 0rem;
    margin: 0rem;
    /* 
    display flex fixed issue with pie chart moving down a bit when select tag wraps
    i think flex auto resizes fill class height to fit
     */
    display: flex;
    flex-direction: column;
    
    
}

.image {
   
    position: absolute;
    z-index: 2;
   
    
}


.fill{
    width: 100%;
  
    height: 95%;
 
    
}
.fill2{
    width: 100%;
    height: 100%;
}
.filter{
    /* 
    setting the height prop here makes the svg container div think the height is always 4%,
    which means when the select tag wraps the svg container overlaps it thinking the filter container is higher above
     */
    width: auto;
    /* height auto is default -> usually means height is set from its children so here it scales to fit stat and select which makes sense */
   
    padding-top: 1%;
    padding-left: 1%;
    margin: 0rem;
    font-size: 2vmin;
    color: #000;
    height: auto;
    
}
.filter select,option{
    font-size: inherit;
    height: auto;
}





