.container {
    width: 100%;
    height: 100%;
    padding: 0rem;
    margin: 0rem;

    display: flex;
    flex-direction: column;
    
}


/* .container div{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    
} */

.statAmount{
    font-size: 4vw !important;
    
}
.fill{
    width: 100%;
    height: 95%;
    padding: 0rem;
    margin: 0rem;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
}


@media not screen and (max-width: 600px){
    .fill div{
        max-height: 20%;
        
        height: 100%;
        width: 100%;
        /* margin-top: 5%; */
        text-align: center;
        font-size: 2vw;
        
    }
}

@media only screen and (max-width: 600px){
    .fill div{
        max-height: 20%;
        
        height: 100%;
        width: 100%;
        /* margin-top: 5%; */
        text-align: center;
        font-size: 2vh;
        
    }
}




.filter{
    /* width need to be 99% i think because of margin right from left row container */
    width: 99%;
    /* height: 4%; */
    padding-top: 1%;
    padding-left: 1%;
    margin: 0rem;  
}

.frag{
    min-width: none;
    min-height: none;
}

.pLine{
    height: 25%;
}

