.headerContainer {
    width: auto;
    height: 100%;
    /* background-color: #eee; */
    padding-bottom: 0.5%;
    
}
.playerHeader {
    padding: 0.5%;
    width: auto;
    background-color: #fff;
    
    /* margin-bottom: 0.5%; */
}